.AboutMeCarouselComponent {
  width: 100%;
  max-height: 400px;
  display: inline-block;
  position: relative;
  overflow: hidden;
  border: solid 2px var(--primary-blue);
  background-color: var(--light-gray-2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.AboutMeCarouselComponent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--light-gray-2);
  border-radius: 10px;
  z-index: 0;
}

/* Inner - Item */
.AboutMeCarouselComponent-inner {
  position: relative;
  display: flex;
  gap: 40px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.AboutMeCarouselComponent-item {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  gap: 40px;
  width: 100%;
}

.AboutMeCarouselComponent-item-image-container {
  display: flex;
  justify-content: center;
}

.AboutMeCarouselComponent-item-image-container img {
  height: 280px;
  object-fit: contain;
  margin-top: 20px;
  border: solid 2px var(--bright-orange);
  border-radius: 10px;
  z-index: 5;
}

/* Caption */
.AboutMeCarouselComponent-caption {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: flex-start;
  max-width: 650px;
  padding: 20px;
  z-index: 10;
}

.AboutMeCarouselComponent-caption-title {
  font-size: 28px;
  font-weight: bold;
  color: var(--dark-gray);
}

.AboutMeCarouselComponent-caption-text-container {
  font-size: 16px;
  line-height: 1.6;
  color: var(--gray);
}

.AboutMeCarouselComponent-caption-graphic-element-yellow {
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--bright-yellow);
}

/* Control */
.AboutMeCarouselComponent-control {
  position: absolute;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 50;
  top: 50%;
  transform: translateY(-50%);
}

.AboutMeCarouselComponent-control.prev {
  left: 10px;
  bottom: 60px;
}

.AboutMeCarouselComponent-control.next {
  right: 10px;
  bottom: 135px;
  transform: rotate(180deg);
}

.AboutMeCarouselComponent-control img {
  width: 40px;
  height: 40px;
  background: none;
  box-shadow: none;
}

/* Indicator */
.AboutMeCarouselComponent-indicator {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.AboutMeCarouselComponent-indicator-text {
  font-size: 14px;
  color: var(--dark-gray);
}

/* Breakpoints */
@media (max-width: 800px) {
  .AboutMeCarouselComponent {
    position: relative;
    padding: 15px;
  }

  .AboutMeCarouselComponent-inner {
    flex-direction: column;
  }

  .AboutMeCarouselComponent-item {
    flex-direction: column;
    gap: 20px;
  }

  .AboutMeCarouselComponent-item-image-container img {
    width: 30%;
    height: auto;
    /* Para que mantenga la proporción */
  }

  .AboutMeCarouselComponent-caption {
    width: 100%;
    align-items: center;
    text-align: center;
    gap: 10px;
  }

  .AboutMeCarouselComponent-caption-title {
    font-size: 22px;
  }

  .AboutMeCarouselComponent-caption-text-container {
    font-size: 14px;
    max-width: 100%;
  }

  .AboutMeCarouselComponent-caption-graphic-element-yellow {
    display: none;
  }

  .AboutMeCarouselComponent-control {
    top: auto;
    bottom: 20px;
  }

  .AboutMeCarouselComponent-control.prev {
    left: 5px;
    /* Reduce el margen lateral para pantallas más pequeñas */
  }

  .AboutMeCarouselComponent-control.next {
    right: 5px;
    top: 125px;
    /* Reduce el margen lateral */
  }

  .AboutMeCarouselComponent-indicator {
    display: none;
  }

  .AboutMeCarouselComponent-control {
    top: 50%;
    /* Sigue centrado verticalmente */
    transform: translateY(-50%);
  }
}