.AboutMeCarouselComponent {
  width: 100%;
  display: inline-block;
  position: relative;
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-paragraph);
  text-align: justify;
  overflow: hidden;
}

.AboutMeCarouselComponent::before {
  content: "";
  position: absolute;
  top: 0;
  left: 29%;
  width: 62%;
  height: 100%;
  background-color: var(--light-gray-2);
  border-radius: 5px;
  z-index: 0;
}

/* Shadow */

.shadow {
  position: absolute;
  top: 0;
  width: 30px;
  height: 100%;
  z-index: 10;
}

.left-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 40px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.3), transparent);
  z-index: 1;
  pointer-events: none;
  transition: background 0.3s ease;
}

.right-shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 40px;
  background: linear-gradient(to left, rgba(0, 0, 0, 0.3), transparent);
  z-index: 1;
  pointer-events: none;
  transition: background 0.3s ease;
}

/* Inner - Item */
.AboutMeCarouselComponent-inner {
  position: relative;
  align-items: center;
}

.AboutMeCarouselComponent-item {
  gap: 40px;
  display: flex;
  align-items: center;
  flex-direction: row;
  text-align: justify;
  justify-content: center;
  width: 100%;
}

.AboutMeCarouselComponent-item img {
  height: 340px;
  display: block;
  margin-top: 40px;
}

/* Caption */
.AboutMeCarouselComponent-caption {
  position: relative;
  align-items: start;
  justify-content: center;
  width: 700px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.AboutMeCarouselComponent-caption-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 30px;
  gap: 20px;
}

.AboutMeCarouselComponent-caption-title {
  color: var(--dark-gray);
  font-weight: 800;
  white-space: nowrap;
}

.AboutMeCarouselComponent-caption-graphic-element-yellow {
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--bright-yellow);
}

.AboutMeCarouselComponent-caption-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.AboutMeCarouselComponent-caption-additional-text {
  font-weight: 700;
}

/* Control */
.AboutMeCarouselComponent-control {
  position: absolute;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 1;
}

.AboutMeCarouselComponent-control.prev {
  right: 93%;
  top: 46%;
}

.AboutMeCarouselComponent-control.next {
  left: 93%;
  top: 46%;
  transform: rotate(180deg);
}

.AboutMeCarouselComponent-control img {
  width: 40px;
  display: block;
}

/* Indicator */
.AboutMeCarouselComponent-indicator {
  display: flex;
  gap: 30px;
  flex-direction: row;
  align-items: center;
  position: absolute;
  height: 30px;
  width: 1000px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 11.5%;
}

.AboutMeCarouselComponent-indicator-text {
  display: block;
}

.AboutMeCarouselComponent-caption-graphic-element-green {
  display: block;
  width: 60px;
  height: 3px;
  background-color: var(--green);
}

@media (max-width: 1250px) {
  .AboutMeCarouselComponent {
    font-size: 1.2rem;
  }

  .AboutMeCarouselComponent::before {
    width: 65%;
    left: 27%;
  }

  .AboutMeCarouselComponent-item {
    gap: 35px;
  }

  .AboutMeCarouselComponent-item img {
    height: 260px;
  }

  .AboutMeCarouselComponent-caption {
    width: 600px;
    gap: 10px;
  }

  .AboutMeCarouselComponent-caption-text-container {
    gap: 8px;
    line-height: 1.5;
  }

  .AboutMeCarouselComponent-control img {
    width: 37px;
  }

  .AboutMeCarouselComponent-indicator {
    top: 0;
    left: 10.8%;
  }
}

@media (max-width: 1050px) {
  .AboutMeCarouselComponent {
    font-size: 1.05rem;
  }

  .AboutMeCarouselComponent::before {
    width: 69%;
    left: 24%;
  }

  .AboutMeCarouselComponent-item {
    gap: 30px;
  }

  .AboutMeCarouselComponent-item img {
    height: 190px;
  }

  .AboutMeCarouselComponent-caption {
    width: 540px;
    gap: 8px;
  }

  .AboutMeCarouselComponent-caption-text-container {
    gap: 3px;
  }

  .AboutMeCarouselComponent-control img {
    width: 32px;
  }

  .AboutMeCarouselComponent-indicator {
    top: 0;
    left: 9%;
  }
}

@media (max-width: 850px) {
  .AboutMeCarouselComponent {
    font-size: 0.9rem;
  }

  .AboutMeCarouselComponent-caption {
    width: 340px;
    padding: 30px 0 10px 0;
  }

  .AboutMeCarouselComponent::before {
    width: 63%;
    left: 30%;
  }

  .AboutMeCarouselComponent-indicator {
    top: 0;
    left: 10.3%;
  }

  .AboutMeCarouselComponent-control.prev {
    right: 90%;
  }
  
  .AboutMeCarouselComponent-control.next {
    left: 90%;
  }
}

@media (max-width: 650px) {
  .AboutMeCarouselComponent {
    font-size: 0.8rem;
  }

  .AboutMeCarouselComponent::before {
    width: 100%;
    left: 0;
  }

  .AboutMeCarouselComponent-item {
    flex-direction: column;
    gap: 0;
    padding: 15px;
  }

  .AboutMeCarouselComponent-item img {
    margin-top: 0;
  }

  .AboutMeCarouselComponent-caption {
    width: 300px;
    gap: 10px;
    padding: 10px;
  }

  .AboutMeCarouselComponent-indicator {
    top: 94%;
    left: 38%;
  }

  .AboutMeCarouselComponent-control.prev {
    display: none;
  }

  .AboutMeCarouselComponent-control.next {
    display: none;
  }
}
