.HomePage-ProgramSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  font-family: var(--font-family);
  margin-bottom: 70px;
  overflow: hidden;
  max-width: 1200px;
  /* Cambia este valor según el ancho máximo deseado */
  margin: 0 auto;
  /* Centra el contenedor horizontalmente */
  padding: 0 20px;
  border: solid blue 2px;
}

.HomePage-ProgramSection-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.HomePage-ProgramSection-title {
  display: block;
  font-weight: 500;
  font-size: 40px;
}

.HomePage-ProgramSection-graphic-element-gray {
  display: block;
  height: 100px;
  width: 2px;
  background-color: var(--light-gray-3);
}

.HomePage-ProgramSection-description {
  font-size: var(--font-size-paragraph);
  max-width: 620px;
  text-align: justify;
}

.HomePage-ProgramSection-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.HomePage-ProgramSection-video-background-image {
  width: 1000px;
  left: -170px;
  height: 570px;
  position: absolute;
}

.HomePage-ProgramSection-video {
  width: 700px;
  height: 320px;
  z-index: 10;
  object-fit: cover; 
}

.HomePage-ProgramSection-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}




