/* Estilos base */
.HomePage-ProgramSection {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  padding: 20px;
  margin-bottom: 70px;
  overflow: hidden;
  padding: 0 20px;
}

.HomePage-ProgramSection-content {
  display: flex;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.HomePage-ProgramSection-title {
  font-weight: bold;
  font-size: 40px;
}

.HomePage-ProgramSection-graphic-element-gray {
  display: block;
  height: 100px;
  width: 2px;
  background-color: var(--light-gray-3);
}

.HomePage-ProgramSection-description {
  font-size: 30px;
  max-width: 620px;
}

.HomePage-ProgramSection-video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.HomePage-ProgramSection-video-background-image {
  width: 1000px;
  left: -170px;
  height: 570px;
  position: absolute;
}

.HomePage-ProgramSection-video {
  width: 700px;
  height: 320px;
  z-index: 10;
  object-fit: cover; 
}

.HomePage-ProgramSection-play-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: #333;
  cursor: pointer;
}

/* Breakpoint para pantallas menores a 900px */
@media (max-width: 900px) {
  .HomePage-ProgramSection-title {
    font-size: 35px;
  }

  .HomePage-ProgramSection-content {
    flex-direction: column;
    gap: 30px;
  }

  .HomePage-ProgramSection-graphic-element-gray {
    display: none;
  }
  .HomePage-ProgramSection-description {
    font-size: 24px;
    max-width: 90%;
  }

  .HomePage-ProgramSection-video-background-image {
    width: 800px;
    height: 450px;
    left: -100px;
  }

  .HomePage-ProgramSection-video {
    width: 600px;
    height: 270px;
  }
}

/* Breakpoint para pantallas menores a 740px */
@media (max-width: 740px) {
  .HomePage-ProgramSection-title {
    font-size: 30px;
    text-align: center;
  }

  .HomePage-ProgramSection-content {
    gap: 20px;
  }

  .HomePage-ProgramSection-description {
    font-size: 20px;
    max-width: 100%;
  }

  .HomePage-ProgramSection-video-background-image {
    width: 100%;
    height: auto;
    left: 0;
  }

  .HomePage-ProgramSection-video {
    width: 100%;
    height: auto;
  }

  .HomePage-ProgramSection-play-button {
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
  }
}
