.HomePage-RecommendationSection {
  display: flex;
  flex-direction: column;
  padding: 30px 0 30px 0;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  overflow: hidden;
  max-width: 1200px;
  /* Cambia este valor según el ancho máximo deseado */
  /* Centra el contenedor horizontalmente */
  border: solid blue 2px;
}

.HomePage-RecommendationSection-title-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
  text-align: center;
}

.HomePage-RecommendationSection-title {
font-size: x-large;
font-weight: 500;
}

.HomePage-Recommendation-graphic-element-gray {
  display: block;
  width: 300px;
  height: 2px;
  background-color: var(--black);
}


