.HomePage-about-me-section {
  border: solid blue 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-family);
  background-color: var(--very-light-gray);
  overflow: hidden;
  max-width: 1200px;
}

@media(max-width:600px){

  .HomePage-about-me-section {
    border: solid blue 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--font-family);
    background-color: var(--very-light-gray);
    overflow: hidden;
    max-width: 440px;
    /* Cambia este valor según el ancho máximo deseado */
    /* Centra el contenedor horizontalmente */
    padding: 0 20px;
  }
}


.HomePage-about-me-section-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.HomePage-about-me-section-title-container {
  display: flex;
  align-items: start;
  width: 100%;
}

.HomePage-about-me-section-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  width: 100%;
  margin-bottom: 20px;
}

.HomePage-about-me-section-carousel-container {
  width: 1350px;
}



/* Animación de entrada desde la izquierda */
@keyframes slideInFromLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

/* Clase para aplicar la animación */
.slide-in-left {
  animation: slideInFromLeft 1s ease-out forwards;
}
