/* Container */

.RecommendationsCarouselComponent-container {
  font-size: 20px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.RecommendationsCarouselComponent-slider .slick-list {
  padding: 80px 0 40px 0;
  width: 900px;
}

/* Slide */

.RecommendationsCarouselComponent-slide-container {
  border-radius: 40px;
}

.RecommendationsCarouselComponent-slide-container .stick-slide {
  margin: 20px;

}

.RecommendationsCarouselComponent-slide {
  margin: auto;
  padding: 120px 0 20px 0;
  background-image: url("/images/backgrounds/background-recommends.png");
  background-size: 160% 220%;
  background-position: center;
  border-radius: 60px;
  width: 250px;
  height: 250px;
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;

}

.RecommendationsCarouselComponent-profile-image {
  width: 120px;
  height: 120px;
  margin: auto;
  top: -20%;
  z-index: 10;
  border-radius: 50%;
  position: absolute;
}

.RecommendationsCarouselComponent-comment {
  width: 70%;
  font-size: 15px;
}

.RecommendationsCarouselComponent-content {
  display: flex;
  position: absolute;
  top: 30%;
  flex-direction: column;
}

.RecommendationsCarouselComponent-name {
  font-weight: 600;
  font-size: 20px;
  color: var(--green);
}

.RecommendationsCarouselComponent-button {
  background: none;
  color: var(--bright-yellow);
  border: none;
  cursor: pointer;
  font-weight: 600;

}

.RecommendationsCarouselComponent-button:hover {
  color: var(--soft-yellow);
}

/* Controls */

.RecommendationsCarouselComponent-control {
  position: absolute;
  border: none;
  cursor: pointer;
  background: none;
  z-index: 1;
}

.RecommendationsCarouselComponent-control.prev {
  right: 100%;
  top: 52%;
}

.RecommendationsCarouselComponent-control.next {
  left: 100%;
  top: 52%;
  transform: rotate(180deg);
}

.RecommendationsCarouselComponent-control img {
  width: 40px;
  display: block;
}

@media (max-width: 1150px) {
  .RecommendationsCarouselComponent-slider .slick-list {
    width: 600px;
  }
}

@media (max-width: 750px) {
  .RecommendationsCarouselComponent-container {
    font-size: 1.1rem;
    line-height: 1.5rem;
  }

  .RecommendationsCarouselComponent-slider .slick-list {
    width: 100vw;
  }

  .RecommendationsCarouselComponent-slide {
    height: 250px;
    background-size: 200% 220%;
  }

  .RecommendationsCarouselComponent-comment {
    width: 60%;
  }

  .RecommendationsCarouselComponent-control.prev {
    right: 86%;
  }

  .RecommendationsCarouselComponent-control.next {
    left: 86%;
  }
}
