.WebinarButtonComponent {
  width: 280px;
  height: 60px;
  font-size: 20px;
  font-weight: bold;
  background-color: var(--bright-yellow);
  color: var(--black);
  border: none;
  border-radius: 35px;
  cursor: pointer;
  display: block;
  margin: auto;
  transition: background-color 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.WebinarButtonComponent:hover {
  background-color: var(--soft-yellow);
}

.WebinarButtonComponent:active {
  background-color: var(--dark-orange);
}