/* Fondo blanco */
.schedule-consultation-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background: #ffffff;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    position: relative;
}

/* Navbar y logo */
.box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-start; /* Alineación a la izquierda */
    background: transparent;
}

.na img {
    height: 60px;
    width: auto;
}

/* Subtítulo */
.schedule-consultation-page-title {
    font-size: 2rem;
    color: #2c3e50;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
    text-shadow: none; /* Sin sombra para el subtítulo */
}

/* Espacio y apariencia del widget */
.schedule-consultation-page-container h1 + div {
    margin-top: 10px;
    width: 100%;
    max-width: 900px;
}

/* Sombra y bordes del Calendly Widget */
.schedule-consultation-page-container iframe {
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Sombra más ligera */
}
