.navbar {
  display: flex;
  width: 1350px; 
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 20px;
  font-family: var(--font-family);
  font-weight: 600;
  background-color: var(--white); 
  z-index: 100; 
}

.navbar-logo {
  height: 70px;

}

.navbar-list-container {
  flex: 2;
}

.navbar-list {
  list-style: none;
  display: flex;
  gap: 50px;
  margin-left: 40px;
}

.navbar-list li {
  cursor: pointer;
  font-size: 16px;
  color: var(--medium-gray);
  font-size: inherit;
  font-weight: inherit;
  transition: color 0.3s ease; 
}

.navbar-list li:hover {
  color: var(--light-gray-3);
}

.navbar-button-container {
  display: flex;
  justify-content: end;
}

.navbar-button {
  background-color: var(--bright-yellow);
  color: var(--black);
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  font-size: inherit;
  font-weight: inherit;
  transition: background-color 0.3s ease; 
}

.navbar-button:hover {
  background-color: var(--soft-yellow);

}

.navbar-button:active {
  background-color: var(--dark-orange);
}

@media (max-width: 1400px) {
  .navbar { 
    width: 100%;
  }
}

@media (max-width: 850px) {
  .navbar-list-container {
    position: absolute;
    transform: translateX(-100vw);
    opacity: 0;
    pointer-events: none;
  }
}

/* NavBar.css */

/* Animación de entrada desde arriba */
@keyframes slideInFromTop {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

/* Clase para aplicar la animación */
.slide-in-top {
  animation: slideInFromTop 1s ease-out forwards;
}
