@import "normalize.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  width: 100vw;
}

:root {
  /* Font */
  --font-family: "Raleway", sans-serif;
  --font-weight-bold: 800;
  --font-weight-regular: 400;
  --font-size-title: 2rem; 
  --font-size-paragraph: 1.4rem;
  --font-line-height-paragraph: 2rem;

  /* Colors */
  --white: #ffffff;
  --very-light-gray: #f5f5f5;
  --light-gray: #ededed;
  --light-gray-2: #e6e6e6;
  --light-gray-3:#BCBEC0;
  --medium-gray: #999999;
  --dark-gray: #767676;
  --black: #000000;
  --dark-orange: #ed981d;
  --bright-yellow: #ffba06;
  --green: #05bc75;

  /* Others colors */

  --soft-yellow: #ffe680;
}

.green-text {
  color: var(--green);
  font-weight: 700;
}