/* Header */

.HomePage-header {
    display: flex;
    position: sticky;
    top: 0;
    align-items: center;
    justify-content: center;
    z-index: 100; 
}

/* Main */

.HomePage-main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Footer */

.HomePage-footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
