/* HomePage Styles */
.HomePage-main-section {
  display: flex;
  flex-direction: row;
  /* Contenido y Nico en fila */
  align-items: center;
  justify-content: space-between;
  min-height: 500px;
  position: relative;
  /* Permite posicionar el mapa como fondo */
  padding: 40px 20px;
  box-sizing: border-box;
  overflow: hidden;
  /* Oculta cualquier contenido fuera del contenedor */
}

.HomePage-main-section::before {
  content: "";
  /* Mapa como fondo */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: rgba(0, 0, 0, 0.05);
  /* Color de fondo para contraste */
}

.HomePage-map-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
  /* Por debajo de todo */
}


.HomePage-main-section-image {
  width: 400px;
  /* Ancho fijo para desktop */
  height: 450px;
  /* Alto fijo */
  background-image: url("/images/profiles/profile.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  /* La imagen cubrirá el área sin deformarse */
  margin: 0 auto;
  /* Centra la imagen horizontalmente */
}

.HomePage-main-section-content-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  max-width: 50%;
  /* Texto ocupa 50% */
}

.HomePage-main-section-content-title {
  font-size: 40px;
  font-weight: bold;
  color: var(--black);
  max-width: 100%;
}

.HomePage-main-section-content-paragraph {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-paragraph);
  max-width: 100%;
  margin: 0;
}

.green-text {
  color: var(--green);
  font-weight: var(--font-weight-bold);
}

/* Estilos responsivos */
@media (max-width: 900px) {
  .HomePage-main-section {
    flex-direction: column;
    /* Cambia a diseño vertical */
    align-items: center;
    padding: 20px;
  }

  .HomePage-main-section-content-container {
    max-width: 100%;
    align-items: center;
    text-align: center;
  }

  .HomePage-main-section-image {
    width: 150px;
    /* Ancho más pequeño en mobile */
    height: 180px;
    /* Alto más pequeño */
  }
}

@media (max-width: 500px) {
  .HomePage-main-section-content-title {
    font-size: 30px;
    font-weight: bold;
    color: var(--black);
    max-width: 100%;
  }

  .HomePage-main-section-content-paragraph {
    font-size: 20px;
  }

  .HomePage-main-section-image {
    height: 200px;
  }
}