.HomePage-main-section {
  border: solid 2px red;
  display: flex;
  min-height: 500px;
  font-family: var(--font-family);
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 1350px;
  justify-content: start;
  background-image: url("/images/profiles/profile.png");
  background-position: 90% 100%;
  background-size: 450px;
  background-repeat: no-repeat;
  margin-bottom: 30px;
}

.HomePage-main-section-content-container {
  border: solid blue 2px;
  display: flex;
  position: absolute;
  top: 30px;
  left: 100px;
  flex-direction: column;
  z-index: 2;
  gap: 40px;
  max-width: 1000px;
  /* Ajusta el ancho máximo según tus necesidades */
  margin: 0 auto;
  /* Centra el contenido horizontalmente */
  /* Añade un relleno interno a los lados para espacio en pantallas pequeñas */
  box-sizing: border-box;
  /* Asegura que el padding no afecte el tamaño total */
}



.HomePage-main-section-content-title {
  font-size: var(--font-size-title);
  font-weight: var(--font-weight-bold);
  color: var(--black);
  width: 80%;
  margin-bottom: 20px;
}

.HomePage-main-section-content-paragraph {
  font-size: var(--font-size-paragraph);
  font-weight: var(--font-weight-regular);
  line-height: var(--font-line-height-paragraph);
  width: 600px;
  margin-bottom: 20px;
}

@media (max-width: 1400px) {
  .HomePage-main-section {
    width: 100%;
  }
}

@media (max-width: 1150px) {
  .HomePage-main-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6)),
      url("/images/profiles/profile.png");
    background-position: 0, 90% 10%;
    background-size: 100%, 450px;
    background-repeat: no-repeat;
  }
}

@media (max-width: 850px) {
  .HomePage-main-section {
    background-image: linear-gradient(rgba(255, 255, 255, 0.6),
        rgba(255, 255, 255, 0.6));
    background-position: 0;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    min-height: 500px;
  }

  .HomePage-main-section-content-container {
    border: solid blue 2px;
    display: flex;
    position: absolute;
    top: 30px;
    left: 0px;
    flex-direction: column;
    z-index: 2;
    gap: 40px;
    max-width: 1000px;
    /* Ajusta el ancho máximo según tus necesidades */
    margin: 0 auto;
    /* Centra el contenido horizontalmente */
    /* Añade un relleno interno a los lados para espacio en pantallas pequeñas */
    box-sizing: border-box;
  }

  .HomePage-main-section-content-title {
    width: 100%;
    text-align: center;
    font-size: 30px;
  }

  .HomePage-main-section-content-paragraph {
    width: 100%;
    text-align: center;
    font-size: 25px;
  }
}